nav {
    float: left;
    width: 275px;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    background-color: green;
}
/*section {
    float:left ;
    width: 800px;
    margin: 10px;
    padding: 10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background-color: red;
    

}*/
aside {
    float: left;
    width: 275px;
    margin: 0px 0px 0px 0px;
    padding: 10px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    background-color: blue;
    
}
footer {
    background-color: yellow;
    color: black;
    overflow: auto;
    bottom: 0;
    width: 1500px;
    height: 50px;
}

.diw { 
    float:left ;
    width: 800px;
    margin: 10px;
    padding: 10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background-color: red;
}